html, body {
    margin: 0;
    padding: 0;
    background-color: #435b54;
    font-family: Helvetica, sans-serif;

}

#game {
    margin: 0 auto;
    width: 600px;
    height: 800px;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    position: relative;
    overflow: hidden; /* to prevent margin collapse */
}
.board {
    cursor: default;
}

.board table {
    width: 600px;
    height: 600px;
    border-collapse: collapse;
}
.board td {
    width: 36px;
    height: 36px;
    border: solid 2px white;
    user-select: none;
    -webkit-user-select: none;
}

.board td                   {background-color: #c1bb9f;}
.board td.triplewordscore   {background-color: #d95742;}
.board td.doublewordscore   {background-color: #f3b7a8;}
.board td.tripleletterscore {background-color: #3b9fb8;}
.board td.doubleletterscore {background-color: #b7d3d0;}


.scoreboard {
    margin: 20px 0;
    height: 40px;
    width: 600px;
}
.scoreboard .playerscore {
    width: 120px;
    height: 40px;
    float: left;
}
.scoreboard .playerscore .letter {
    float: left;
    height: 40px;
    position: relative;
}
.scoreboard .playerscore.notturn .letter {
    border: 1px solid white;
    background: none;
    color: white;
    width: 36px;
    height: 36px;
}
.scoreboard .playerscore .score {
    float: left;
    width: 80px;
    height: 40px;
}
.tray {
    width: 280px;
    height: 40px;
    padding: 0 40px;
    background-color: #63431c;
    border-bottom: solid 5px #3d2202;
    position: absolute;
    top: 720px;
    left: 120px;
}
.status {
    width: 600px;
    height: 20px;
    top: 680px;
    position: absolute;
    left: 0px;
}
.status, .scoreboard .playerscore .score {
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 40px;
    font-size: 14px;
}

.btn, .letter {
    width: 38px;
    height: 38px;
    border-radius: 3px;
    margin: 0 1px;
    -webkit-user-select: none;
    user-select: none;
    background-color: #faeac8;
    line-height: 40px;
}
.letter {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    float: left;
    cursor: default;
}

.letter .score, .letter .sub {
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: 10px;
    line-height: 10px;
    font-weight: normal;
}

.board td .letter {
    margin: -2px;
    position: relative;
}
.tray .letter {
    position: absolute;
}
.btn {
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
}


.btn.playmove {
    position: absolute;
    top: 720px;
    width: 80px;
    left: 520px;
}